div.sol_sutum{
	background-color:turquoise;
	height:200px;
	width:200px;
	text-align:center;
	margin:10px;
    float:left;
}
div.orta_sutum{
	background-color:red;
	height:200px;
	width:200px;
	text-align:center;
	margin:10px;
	float:left;
	
}
div.sag_sutum{
	background-color:magenta;
	height:200px;
	width:200px;
	text-align:center;
	margin:10px;
	float:left;
	
}
div.footer{
	height:200px;
	width:1000px;
	background-color:blue;
	text-align:center;
	margin:10px;
	clear:both;
	
}